<!doctype html>
<html>
    <head>
        {% include "common_head.html" %}
        <title>Dashboard</title>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="bg-brand-background dark:bg-brand-background-dark min-h-screen flex">
            {% for save in saves %}
            <div>
                <p>{{ save.game_title }}<p>
                <p>{{ save.date }}</p>
                <p>{{ save.base_path }}</p>
                <ul>
                    {% for path in save.paths %}
                    <li>{{ path }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
