name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install npm
        run: sudo apt-get update && sudo apt-get install -y npm
      - name: Install npm dependencies (frontend)
        run: |
          cd frontend
          npm ci
      - name: Build
        run: cargo build --verbose
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Run tests
        run: cargo test
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install npm
        run: sudo apt-get update && sudo apt-get install -y npm
      - name: Install npm dependencies (frontend)
        run: |
          cd frontend
          npm ci
      - name: Build
        run: cargo build --verbose --release
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run fmt check
        run: cargo fmt -- --check
